<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-input
            type="text"
            label="Name"
            label-placement="floating"
            formControlName="name"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-sm="3">
        <ion-item>
          <ion-input
            type="text"
            label="Surame"
            label-placement="floating"
            formControlName="surname"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-input
            type="email"
            label="Email"
            label-placement="floating"
            formControlName="email"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row
      *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched"
    >
      <ion-col size-sm="6" offset-sm="3">
        <p>Should be a valid email address.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-input
            type="password"
            label="Password"
            label-placement="floating"
            formControlName="password"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row
      *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched"
    >
      <ion-col size-sm="6" offset-sm="3">
        <p>Should be minimum 7 characters long.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button type="submit" color="primary" shape="round" expand="block"
          >Register</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
